---
layout: default
title: LubyRuffy的天上人间
---

<div id="home">
	{% for post in site.posts %}
	  <div class="feeds-item">
		<h3><a href="{{ post.url }}" target="_blank" class="feeds-item-more">{{ post.title }}</a></h3>
		<div class="feeds-item-detail clearfix ">
            {% if post.cover %}
			<p class="feeds-item-pic"><a href="{{ post.url }}" target="_blank" class="feeds-item-more"><img src="{{ post.cover }}"></a></p>
            {% endif %}
            <p class="feeds-item-text">{{ post.description }}<a href="{{ post.url }}" target="_blank" class="feeds-item-more">[详细]</a></p>
        	<p class="feeds-item-info">
            <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            <span><a href="javascript:void(0)" class="share-article">分享</a></span>
                                            <a href="http://baijia.baidu.com/?tn=listarticle&amp;labelid=10151">互联网</a>|
                                                            <a href="http://baijia.baidu.com/?tn=listarticle&amp;labelid=11765">金融</a>|
                                                            <a href="http://baijia.baidu.com/?tn=listarticle&amp;labelid=13419">央行</a>
                                    </p>
    	</div>
	  </div>
	{% endfor %}
</div>
